Having previously completed this project in the past  by copying and pasting code and debugging through google searches and without any real knowledge of the languages I used to create it. I have decided to rewrite the project from the start with a few improvements
	
project

problem 
	cannot go to facebook group and autoplay every song through each post to the group


Solution (and a few other features)

1.
	Using Facebook API take youtube links from facebook group import into relational database with
		1.ID
		2.URL
		3.Artist
		4.Song
		5.like count
		6.number of comments
		7.times posted
		8.posted by
2.
	Using youtube api create 
		1.new playlist
		2.name playlist after Facebook group
		3.add all songs to newly created playlist

3.	
	Download highest possible audio from youtube

3.1
	Check Artist and Song against external database

		what.cd

	and automate download of FLAC 

4. Create UI for browsing database with 		ability to sort.

5. Add statistics and make data beautiful!